.content{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

.item:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.checked{
    color:green;
    font-weight: bold;
}

.arrow:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.justifyView{
    display:flex;

}

.justifyColumn{
    float:left;
    display: block;
}

.justifyRow{
    display:flex;
    justify-content: space-evenly;
}

.alertColor{
    color: black;
}

.alertBorderRed{
    box-shadow: 0 0 10px red;
    border: 1px solid red;
}

.alertBorderGray{
    border: 1px solid gray;
}

.alertForm{ 
    border: 2px solid lightgray;
    box-shadow: 3px 3px 1em gray;   
    border-radius: 5px;
    padding: 10px;
}

.headerDetail{
    flex: 1;
    flex-direction: row;
    display: flex;
    font-size:20px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.contentDetail{
    padding: 10px;
    font-size: 18px;
    max-width: 500px;
}

.dateDetail{
    font-size: 12px;
    color: gray;
}

.noteTitleEdit{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.noteTitleEdit input:focus{
    outline: none;
}

.noteCategoryEdit{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.noteCategoryEdit input:focus{
    outline: none;
}

.noteContentEdit{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.noteContentEdit textarea:focus{
    outline: none;
}

.noteEditLabel{
    font-size: 12px;
    font-weight: bold;
}

.noteEditButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeButton{
    display:flex;
    justify-content:flex-end;
}

.closeButton:hover{
    cursor: pointer;
}

.importantInfoInAlert{
    font-size: 20px;
    padding: 10px;
}

.deleteFormNoteContent{
    padding: 20px;
}

.noteDeleteButtons{
    display: flex;
    justify-content: center;
}

.noteChangeStatusButtons{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    empty-cells: show;
}

table div{
    position: relative;
}

td.done div:before{
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid black;
    width: 100%;
    content:"";
}

td.done div:after{
    content: '\00B7';
    font-size: 1px;
}


.remindOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.remindTime{
    margin-left: 20px;
}

.noteRemindButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

